<html>
<head></head>
<body>

<div id="div_chart">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>
</div>

<div id="colum_chart">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        {{ gc_draw(colchart, 'colum_chart') }}
    </script>
</div>
</body>
</html>
