  <table>
                  <tr>
                      <td>{{ form_label(f.sujet) }}</td>
                      <td>{{ form_widget(f.sujet) }}</td>
                  </tr>
                  <tr>
                      <td>{{ form_label(f.contenuReclamation) }}</td>
                      <td>{{ form_widget(f.contenuReclamation) }}</td>
                  </tr>
                  <tr>
                      <td>

                      </td>
                      <td>
                          <strong><input value="Envoyer" class="btn btn-shadow btn-success" type="submit"></strong>
                      </td>

                  </tr>
              </table>
